.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1.5px solid rgba(121, 121, 121, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  background-color: tomato;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  position: absolute;
  left: 18px;
  bottom: 15px;
  animation: notificationAnimation 1s ease-in-out infinite;
}

.nav__notification__2 {
  background-color: tomato;
  display: flex;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: -15px;
}
